.input{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 8px; 
  }
  
.checkbox{
  margin-bottom: 8px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
}
  
.input__label, .checkbox__label{
  color: var(--main);
}
  
.input__text{
  margin-right: 8px;
}

.input__text:disabled, .input__date:disabled{
  opacity: 0.4;
}
    
.input__text, .input__date{
  padding: 8px 80px 8px 12px;
  border-radius: 4px;
  border: 2px solid #E2E8F0;
}
  
.checkbox__text{
  margin-right: 8px;
  width: 18px;
  height: 18px;
  background-color: var(--main);
}
  
.input__date{
  width: 250px;
}
  
input[type="file"] {
  display: none;
}
  
.input__imglabel{
  color: var(--main);
  font-size: 12px;
  transform: translateX(-50%, -50%);
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 4px;
  border: 2px solid #E2E8F0;
}
  
  