.textarea{
  display: flex;
  flex-direction: column;
  color: var(--main);
  margin-bottom: 12px;
  width: 70%;
  margin-right: 8px;
}

.textarea__text{
  height: 250px;
  
}

.textarea__label, .checkbox__label{
  color: var(--main);
}

.textarea__text{
  width: medium;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  border: 2px solid #E2E8F0;
}
