.btn--primary{
  padding: 8px 33px;
  margin: 8px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #6366F1;
  border: 2px solid #E2E8F0;
  border-radius: 4px;
  
}

.btn--addnew {
  padding: 8px 27px;
  margin-left: 22px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #6366F1;
  border: 2px solid #E2E8F0;
  border-radius: 4px;
}

.btn--secondary{
  padding: 8px 24px;
  margin: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--main);
  border: 2px solid #E2E8F0;
  border-radius: 4px;
}

.btn--primary:hover{
  background-color: var(--main__hover);
}

.btn--secondary:hover{
  background-color: var(--main);
  color: white;
}

