.select{
  display: flex;
  flex-direction: column;
  color: var(--main);
  margin-bottom: 4px;
}

.select__label{
  color: var(--main);
}

.select__items{
  padding: 8px 120px 8px 12px;
  border-radius: 4px;
  color: #94A3B8;
  border: 2px solid #E2E8F0;
  
}

.select__addnew {
  padding: 8px 96px 8px 12px;
  border-radius: 4px;
  color: #94A3B8;
  border: 2px solid #E2E8F0;
  margin-right: 22px;
  margin-left: 44px;
}