.new-product{
  padding: 32px;
  height: 100%;
  background-color: white;
  color: var(--main);
  margin-top: 80px;
  margin-left: 15%;
}  

.path{
  color: #6366F1;
  font-weight: bold;
}

.devider{
  margin: 16px 0;
}
  
.input-container{
  display: flex;
  width: 200px;
  padding-right: 50%;
}

.split{
  display: flex;
}

.input__fileUpload{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.image-preview{
  width: 200px;
  height: 200px;
  border: 2px solid #dddd;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  color: #1E293B;
}

.image{
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.input-Tag{
  border: 2px solid #dddd;
  border-radius: 4px;
  margin-top: 5px;
  padding: 1px 2px;
}

.form__action{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}